reports/*
build/*
*.code-workspace
.vscode/
.idea/*
settings/service.yaml
init-docker-build.sh
settings/
service.yaml
settings.yaml
DS_Store
.DS_Store
data.log
coverage.out
docker-compose/
reports
._*
codebuild_build.sh 
__debug_bin

## Terraform ignore
.terraformrc
terraform.rc
**/.terraform/
terraform-provider*
crash.log
*.tfplan
.terraform.lock.hcl
/scripts/aws